.terms-condition-page {
    background-color: #ffff;
    padding: 0px;
    padding-bottom: 0px;
}

.terms-condition-page .terms-condition-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 0px;
    margin-top: 50px;
    border: 1px solid #b2b1b1;
    display: grid;
    gap: 40px;
}